<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./script/app.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="./view/SingleView.css">
</head>

<body ng-app="main-module">
    <div ng-controller="controller1">
        <input type="text" ng-model="ngmodel" />
        <div class="component" ng-view></div>
        <button ng-click="navigate1('/view1')">view1</button>
        <a href="#!/view2">view2</a>
        <button ng-click="getData()">Data</button>
        <h1>{{var1}}</h1>
    </div>
</body>

</html>